* {
  margin: 0;
  padding: 0;
}

.content2 {
  margin-top: 10rem;
  display: flex;
  margin-bottom: 10rem;
  gap: 5rem!important;
  margin-left: 4rem;
  margin-right: 4rem;
  flex-direction: column;

  .chunk2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

    .AboutMe {
      display: flex;
      width: 40%;
      font-family: 'Poppins', sans-serif;
      flex-direction: column;
      align-items: center;


      .txt {
        font-family: 'Lora', serif;
        font-size: 2vw;
        color: black;
      }

      .about-img {
        margin-top: 4vh;
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 25vw;
        aspect-ratio: 1;
        background-color: var(--primary);
        border-radius: 30px;
        overflow:hidden;
        cursor: pointer;
        filter: drop-shadow(10px 20px 10px rgba(0,0,0,0.377));
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s ease;
          
    
          &:hover {
            scale:1.07;
          }
        }
      }
    }



    .bios {
      display: flex;
      width: 60%;
      font-size: 1.5vw;
      font-family: 'Quattrocento Sans', sans-serif;
      line-height: 2rem;
      flex-direction: column;
      overflow-wrap: break-word;
      justify-content: center;
      gap: 2.5rem;

      * {
        justify-content: flex-start;
        text-align: left;

      }

      
    }

  }

}




.txt {
  font-family: 'Lora', serif;
  font-size: 2vw;
  color: black;

}

.coursework{ 
  .txt {
    margin-bottom: 1.5rem;
  }

  font-family: 'Lora', serif;
  line-height: 2rem;
  margin-left: 6%;
}

a {
  color: black;
}