.content{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  justify-content: center;

  
  .project {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin-bottom: 10%;

    .project-img {
      display: flex;
      height: 25vw;
      width: 25vw;
      aspect-ratio: 1;
      background-color: var(--primary);
      border-radius: 30px;
      overflow:hidden;
      cursor: pointer;
      border: 0.1rem solid black;
      object-fit: cover;
      transition: 0.3s ease;

      &:hover {
        scale:1.05;
      }

    }

    .buttons {
      display: flex;
      margin-top: 1.5rem;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      gap: 0.3rem;



      .lang {
        font-family: 'Lora', serif;
        font-size: 1.3rem;
        border-radius: 0.2rem;
        padding: 0.3rem;
        border: 0.1rem solid black;
        color: black;
        background-color: white;
        font-weight: bold;

        
      }
    }

  }

}

.project-img.pomodoro {
  filter: drop-shadow(0.6rem 0.6rem 0.3rem #00e5f5);
}

.project-img.laugh {
  filter: drop-shadow(0.6rem 0.6rem 0.3rem #ffe404);
}

.project-img.stash {
  filter: drop-shadow(0.6rem 0.6rem 0.3rem #fbb4bc);
}

.project-img.stash {
  filter: drop-shadow(0.6rem 0.6rem 0.3rem #fbb4bc);
}


.project-img.portfolio {
  filter: drop-shadow(0.6rem 0.6rem 0.3rem var(--primary));
}

